<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @vintage.year %>
</p>

<p>
  <strong>Castle:</strong>
  <%= @vintage.castle_id %>
</p>

<%= link_to 'Edit', edit_vintage_path(@vintage) %> |
<%= link_to 'Back', vintages_path %>
