<!-- <p id="notice"><%= notice %></p>
 -->
  <% @stocks.each do |stock| %>
    <div class="wine-card">
      <%= stock.castle.name %>
      <%= stock.castle.appellation.name %>
      <%= stock.castle.appellation.location %>
      <%= stock.quantity %>
      <%= stock.vintage.year %>
      <%= stock.size %>
      <%= link_to 'Show', stock %>
      <%= link_to 'Edit', edit_stock_path(stock) %></td>
      <%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>

  <%= link_to 'New Stock', new_stock_path %>

