<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @stock.quantity %>
</p>

<p>
  <strong>Vintage:</strong>
  <%= @stock.vintage_id %>
</p>

<p>
  <strong>Size:</strong>
  <%= @stock.size %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
