<p id="notice"><%= notice %></p>

<h1>
  <%= @castle.name %>
</h1>
  <p>
    <%= @castle.appellation.name %>,
    <%= @castle.appellation.location %>
  </p>

  <table class="table">
    <% @castle_vintages = @castle.vintages.order(:year).uniq %>
    <% @sizes = (@castle.stocks.map do |stock| stock.size end).uniq %>
  <thead>
    <tr>
      <th scope='col'>Millésimes</th>
      <% @sizes.each do |size| %>
        <th scope="col"><%= size %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @castle_vintages.each do |vintage| %>
    <tr>
      <th scope="row"> <%= vintage.year %> </th>
      <% @sizes.each do |size|%>
      <td>
      <% @castle.stocks.where(vintage_id: vintage.id, size: size).each do |stock| %>
        <%= stock.quantity %>
      </td>
      <% end %>
      <% end %>
      <% end %>
      </tr>
  </tbody>
</table>



<%= link_to 'Edit', edit_castle_path(@castle) %> |
<%= link_to 'Back', castles_path %>
