<p id="notice"><%= notice %></p>

<h1>
  <%= @castle.name %>
</h1>
  <p>
    <%= @castle.appellation.name %>,
    <%= @castle.appellation.location %>
  </p>

  <table class="table">
    <% @by_year = @castle.stocks.group(:vintage_id)%>
  <thead>
    <tr>
      <th scope='col'>Millésimes</th>
      <% @by_year.each do |stock| %>
        <th scope="col"><%= stock.size %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @by_year.each do |stock| %>
          <tr>
              <th scope="row"><%= Vintage.find(stock.vintage_id).year %> </th>
          <td>
            <%= stock.quantity %>
          </td>
            <% end %>
          </tr>
  </tbody>
</table>



<%= link_to 'Edit', edit_castle_path(@castle) %> |
<%= link_to 'Back', castles_path %>
